[submodule "extern/loguru"]
	path = extern/loguru
	url = https://github.com/emilk/loguru.git
[submodule "extern/hypodermic"]
	path = extern/hypodermic
	url = https://github.com/ybainier/Hypodermic.git
[submodule "extern/vanetza"]
	path = extern/vanetza
	url = https://github.com/riebl/vanetza.git
[submodule "extern/CLI11"]
	path = extern/CLI11
	url = https://github.com/CLIUtils/CLI11
[submodule "extern/trompeloeil"]
	path = extern/trompeloeil
	url = https://github.com/rollbear/trompeloeil.git
